/* pc  */
@media (min-width: 1024px) {
    
}

/* tablet  */
@media (min-width: 740px) and (max-width: 1023px){
   
}

/* mobile  */
@media (max-width: 739px) {
    .header__search {
        display: none;
    }

    .mobi-menu {
        display: block;
    }

    .header__nav {
        display: block;
    }

    .header__nav > li {
        display: block;  
    }

    .header__nav > li:first-child {
        display: inline-block;
    }

    .header__sub-nav {
        width: 100%;
    }

    .header__sub-nav li {
        padding: 13px 40px;
    }
    
    .header {
        overflow: hidden;
    }
}